GOOGLE_SERVICE_ACCOUNT_EMAIL  julius-barberia@julius-barberia.iam.gserviceaccount.com


GOOGLE_PRIVATE_KEY  -----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDJyUjhM2ATqTmy
lP6P6sIEwkGSCa7616daIrCdBlTf9Anq1mFQtretACetEhI00K4WQjYiT47JEAhC
fnz01kzb29OElUR4cgN3icYQBYCJevjWG6jjKLcR4DvxKgFNy4s1qzewkAWSz9eS
ze2KI10n7Z0glyGr9jhUs5LMCz65jv6f3GopFFJVigTh+vJfCYoDeU3b1yIeV1Bl
jUrLZRMtcbwcGGL8kAm1F7ymGaEWiW63CmLAmnTDjMPX41zZ74o5j6hOOTXpFUXa
XLFuhAXJ7xAvrKP9biwQFx2yH8DE9szPJyPWDm8pCZASGZVqtU3DfUA8va5Wv3jB
pdm/DPq1AgMBAAECggEAOiXYbBj3b0L9PvKDlupiBagK6DAFLgDWF3nWpjFMZQr4
jqU/fthgfqiERnHmMDUQbZaf7ew6K8OEddDoZk+Y72ReBB9Vj1XfnONlYXmMbFG1
AlIPLYKumqag72KY5JeqookX77fY+1EMgJ/5+ywsrJRjCqCykdDOs83ZmBYHecXx
j4NNDQal9JcB7sUqZwCFR3NbNN/tMVCa+iM87JIvvboDnGVnLbUvstVHn75yZNfN
hiFioMqpNqmkXqttQ0rOayeGsFRVVIB1Y0gejXuo4nn2v1m+xHNxeZpgV89Kedit
TZuaF9d0hmPpT+43tbvBX6Ug8ItwydhLziXTU45HYwKBgQDsWO4a389/OmeM7QPU
Bjh2rVz9Cf7FQyV9B8lYbcY/WekMV74dY7xlK/ppbwRjzNzW9JKlLSNQEC3IGy70
9R1gZcGhXtrVmAz6xUBD/P2qVDRhb6cScU15AkSc/y8+ns8MybBMZReIviwW4M0T
GsTaYfuKCOmo8W2DRLdhy3yFpwKBgQDakKkTJLNVxszmZUG2H8pQem/qlPrQEtlV
DBdkjU6FbFcW9WAc+8vc+tukoN/6fWDlBrMvIj878ZlTQovjxf6+gNOKGwX/9CBx
lU+WdeuxN1KFJPZBkyWE9VRpUD2yEnv+pK/aTV4NLl5NCcArGP/zJ7oUojRXTpmm
uavfEZoAQwKBgQCycNIUaDX5ENdthuUFB01KDMnQIePAe1mqdF6H7RloazGQqA5Z
khuDJxkA0Vi3IMz7Xdv56YJnyE9IbX2eZBGx3iG6/CqsaQgjrRlAO5opJzoE9o9l
VTXwzs2O2vuIg84/EWeRxiFmlG4lN8SdT/CgEKohJWmErALKwO7TXxa8sQKBgBMt
Ggh58doWxSd5vtgx1dhVxbf5NkBHRxY1J2BFHZyLMuDqynIAjZRn1hmNm9koYvX1
Lod2I8IoomExt4BWgNFKEEVPtakNTENq7D6xPeqghfb0lT6PoH0X4T4UMjWLdaGT
5XHr09KoPNHZhyjA2sQEukjRKnJ2jPiZ1cCOlMptAoGAJRaEF9zmY2jnk3oZbnzA
NnyUlLIbQkHSJ6UZ0Tl7rQCXRPbiHtDgZov0pEwBtzLdTMorIRfEAoeDHW8Js90s
fD/mXpeKadWehbM5MJzWpzHBHd44wM2lyB8m3vyJqV/tARdoWqZVYXEzl9aP7FXO
hohGC5jjg8wVnX9POvbdpD8=
-----END PRIVATE KEY-----



GOOGLE_SHEET_ID 1u07u__pciNEDREuxlWAC-IpPRkak7UHyrOTsycwbPuI

ADMIN_EMAIL julius@barberia.com

ADMIN_PASSWORD Julius2024*